.root {
    -fx-background-color: #202020;
    -fx-text-fill: #fcf3ff;
}

.button {
    -fx-font-family: 'Ubuntu';
    -fx-font-size: 13;
    -fx-background-color: #202020;
    -fx-border-color: #404040;
    -fx-border-width: 2;
    -fx-text-fill: #fcf3ff;
}

.toggle-button {
    -fx-font-family: 'Ubuntu';
    -fx-background-color: #202020;
    -fx-border-color: #404040;
    -fx-border-width: 2;
    -fx-text-fill: #fcf3ff;
}

.menu {
    -fx-background-color: #202020;
    -fx-border-color: #404040;
    -fx-border-width: 2;
    -fx-text-fill: #fcf3ff;
}

.menu-item {
    -fx-background-color: #202020;
    -fx-border-color: #404040;
    -fx-border-width: 2;
    -fx-text-fill: #fcf3ff;
}

.menu-bar {
    -fx-background-color: #202020;
    -fx-border-color: #404040;
    -fx-border-width: 2;
    -fx-text-fill: #fcf3ff;
}

.split-pane {
    -fx-background-color: #202020;
    -fx-text-fill: #fcf3ff;
}

.tab-pane {
    -fx-background-color: #202020;
    -fx-border-color: #404040;
    -fx-text-fill: #fcf3ff;
}

.table-view {
    -fx-background-color: #202020;
    -fx-border-color: #404040;
}

.table-cell {
    -fx-alignment: CENTER;
    -fx-text-fill: #fcf3ff;
    -fx-background-color: #202020;
    -fx-border-color: #404040;
}

.label {
    -fx-font-family: 'Ubuntu';
    -fx-font-weight: 400;
    -fx-font-size: 13;
    -fx-text-fill: #fcf3ff;
    -fx-background-color: #202020;
}

.html {
    --primary: #7540dd;
    --secondary: #c1c2c2;
    --accent: #b37fdd;
}